/* body-div */
.grocer_side-body-div_1 {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

/* body-process */
.grocer_side-body-process {
  width: 80%;
  margin-top: 50px;
  padding: 73px 84px;
  display: flex;
  justify-content: space-between;
  border-radius: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grocer_side-body-process_text {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 143px;
}

.grocer_side-body-process_text h2{
  font-size: 36px;
  color: #588A60;
  min-width: 220px;
}

.grocer_side-body-process_text p{
  font-size: 24px;
  font-weight: lighter;
  color: black;
}

.grocer_side-body-process_steps {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.grocer_side-body-partner_text {
  margin-left: 60px;
}

.grocer_side-body-partner_text h2{
  font-size: 36px;
  margin-bottom: 0px;
  color: #588A60;
}

.grocer_side-body-partner_text p{
  font-size: 24px;
  color: black;
}

.grocer_side-partner-button {
  border: none;
  background-color: #FCBA06;
  color: white;
  font-size: 20px;
  width: 167px;
  height: 58px;
  border-radius: 29px;
}

