/* body-div */
.grocer_side-body-div_1 {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

/* body-process */
.grocer_side-body-process {
  width: 80%;
  margin-top: 50px;
  padding: 73px 84px;
  display: flex;
  justify-content: space-between;
  border-radius: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grocer_side-body-process_text {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 143px;
}

.grocer_side-body-process_text h2 {
  font-size: 36px;
  color: #588a60;
  min-width: 220px;
}

.grocer_side-body-process_text p {
  font-size: 24px;
  font-weight: lighter;
  color: black;
}

.grocer_side-body-process_steps {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.grocer_side-body-partner_text {
  margin-left: 60px;
}

.grocer_side-body-partner_text h2 {
  font-size: 36px;
  margin-bottom: 0px;
  color: #588a60;
}

.grocer_side-body-partner_text p {
  font-size: 24px;
  color: black;
}

.grocer_side-partner-button {
  border: none;
  background-color: #fcba06;
  color: white;
  font-size: 20px;
  width: 167px;
  height: 58px;
  border-radius: 29px;
}

/* Testimonial */
.grocer_side-body-testimonial {
  width: 89%;
  padding:0px 84px 0px 84px;
  height: 448px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grocer_side-body-testimonial_div {
  border-radius: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grocer_side-body-testimonial_quote_icon {
  width: 60px;
  height: 60px;
  margin: 3px 0px 0px 30px;
  color: #588a60;
}

.grocer_side-body-testimonial_text {
  margin: 25px 15px -30px 30px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.grocer_side-body-testimonial h2 {
  margin: 80px 15px 10px 30px;
  color: #588a60;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
