.grocer_side-nav {
  width: 100%;
  background-color: #C4C4C4;
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.grocer_side-nav-div_1 {
  font-size: 18px;
  margin-left: 90px;
}

.grocer_side-nav-div_2 {
  font-size: 18px;
  margin-right: 90px;
   
}

.grocer_side-nav-div_2 ul {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.grocer_side-nav-div_2 li {
  list-style: none;
}
