.grocery_side-header-div_1 {
  width: 100%;
  height: 857px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.grocery_side-header-div_2 {
  margin-left: 60px;
}

.grocery_side-header-div_3 {
  font-size: 24px;
  display: flex;
    flex-direction: column;
}

.grocery_side-header-div_4 {
  margin-right: 60px;
  width: 621px;
  height: 421px;
  background-color: #848484;
}

.grocery_side-header-button {
  background-color: #848484;
  width: 232px;
  height: 48px;
  border-radius: 25px;
}