/* body-div */
.user_side-body-div_1 {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}

.user_side-body-div_2 {
  background-color: #c4c4c4;
  width: 80%;
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.user_side-body-button {
  background-color: #848484;
  border: none;
  margin-right: 30px;
  width: 232px;
  height: 48px;
  border-radius: 25px;
}

.user_side-body-h2 {
  margin-left: 60px;
}

/* body-process */
.user_side-body-process {
  width: 80%;
  height: 650px;
  margin-top: 60px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_side-body-process_image {
  width: 452px;
  height: 434px;
  background-color: #848484;
  margin-right: 60px;
}

.user_side-body-process_text {
  font-size: 20px;
  margin-bottom: 550px;
  margin-left: 60px;
}

/* body-whoweare */
.user_side-body-whoweare_image {
  width: 452px;
  height: 434px;
  background-color: #848484;
  margin-left: 60px;
}

.user_side-body-whoweare_text {
  font-size: 20px;
  margin-bottom: 550px;
  margin-right: 290px;
}

.user_side-body-whoweare_text h2 {
  width: 200px;
  margin-left: 20px;
}

/* body-stats */
.user_side-body-stats {
  width: 80%;
  height: 423px;
  margin-top: 60px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_side-body-stats_food {
  margin-left: 250px;
}

.user_side-body-stats_money {
  margin-right: 250px;
}

.user_side-body-faicon {
  width: 130px;
  height: 130px;
}

/* body-download */
.user_side-body-downlaod {
  background-color: #c4c4c4;
  margin-top: 60px;
  width: 80%;
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.user_side-body-downlaod_button {
  border: none;
  background-color: #848484;
  margin-left: 20px;
  width: 232px;
  height: 48px;
  border-radius: 25px;
}