/* body-div */
.user_side-body-div_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user_side-body-div_3 {
  width: 100%;
  height: 20px;
  background-color: #d3ecd7;
}

.user_side-body-div_2 {
  margin-top: 54px;
  height: 103px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.user_side-body-div_2_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

.user_side-body-emoji {
  margin-left: 10px;
  height: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.user_side-body-button {
  background-color: #848484;
  border: none;
  margin-right: 30px;
  width: 232px;
  height: 48px;
  border-radius: 25px;
}

.user_side-body-h1 {
  font-size: 35px;
}

/* body-process */
.user_side-body-process {
  background-color: white;
  padding-top: 40px;
  padding-left: 50px;
  width: 80%;
  margin: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_side-body-process_image {
  width: 452px;
  height: 434px;
  background-color: white;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User side images */
.user_side-main-image {
  width: 443px;
  height: 434px;
  object-fit: cover;
}

.user_side-main-image-left {
  width: 452px;
  height: 434px;
  margin-top: 45px;
  object-fit: cover;
}

.user_side-body-process_image_left {
  width: 452px;
  height: 434px;
  background-color: white;
  margin-left: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_side-body-process_text {
  font-size: 24px;
  margin-left: 95px;
}

.user_side-body-process_text_right {
  font-size: 24px;
  margin: 110px 60px 0px 30px;
}

/* body-stats */
.user_side-body-stats {
  background-color: white;
  width: 1110px;
  color: #588a60;
  padding-top: 40px;
  padding-left: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 168px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_side-body-stats_item {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 45px;
  margin-bottom: 45px;
  align-self: center;
}

.user_side-body-stats_item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user_side-body-stats_item h2 {
  text-align: center;
  font-size: 24px;
}

/* body-subscription */
.user_side-body-subscription {
  background-color: white;
  padding-top: 40px;
  padding-left: 50px;
  width: 80%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_side-body-subscription_text_1 {
  color: #588a60;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin-top: 36px;
}

.user_side-body-subscription_text_2 {
  margin-top: 26px;
  margin-bottom: 37px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

/* body-download */
.user_side-body-downlaod {
  background-color: #79bd84;
  color: white;
  margin-top: 60px;
  width: 100%;
  height: 274px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_side-body-downlaod_discount_text {
  font-size: 48px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 42px;
}

.user_side-body-downlaod_button {
  height: 108px;
  width: 312px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: white;
  border: none;
  background-color: #fcba06;
  border-radius: 125px;
}

/* Testimonial */
.user_side-body-testimonial {
  width: 85%;
  height: 448px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user_side-body-testimonial_div {
  border-radius: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user_side-body-testimonial_quote_icon {
  width: 60px;
  height: 60px;
  margin: 3px 0px 0px 30px;
  color: #588A60;
}

.user_side-body-testimonial_stars {
  width: 160px;
  margin: 2px 0px -7px 30px;
  display: flex;
    justify-content: space-between;
}

.user_side-body-testimonial_stars_stars {
  color: #FCBA06;
  width: 40px;
  height: 40px;

}

.user_side-body-testimonial_text {
  margin: 15px 15px -30px 30px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.user_side-body-testimonial h2 {
  margin: 40px 15px 10px 30px;
  color: #588A60;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}