.user_side-header-div_1 {
  color: white;
  width: 100%;
  display: flex;
  margin-top: 39px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.user_side-header-div_2 {
  margin-left: 90px;
}

.user_side-header-div_3 {
  font-size: 20px;
  flex-direction: column;
}

.user_side-header-div_4 {
  margin-right: 90px;
  width: 621px;
}

.user_side-header-div_5 {
  display: flex;
  flex-direction: row;
}

.user_side-header-img_button {
  height: 40px;
  margin: 10px 5px 0px 0px;
}

.user_side-header-button {
  border: none;
  background-color: #588a60;
  color: white;
  font-size: 20px;
  width: 167px;
  height: 58px;
  border-radius: 25px;
}