.user_side-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.user_side-nav-logo {
  padding: 41px 10px 10px 77px;
  width: 174px;
  height: 61px;
}

.user_side-nav ul {
  margin: 45px 104px 0px 0px;
  display: flex;
  justify-content: center;
}

.user_side-nav ul li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.user_side-nav ul li:hover {
  background-color: #273d2b;
  border-radius: 22px;
}

.user_side-nav-button {
  color: white;
  text-decoration: none;
}
