.user_side-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user_side-nav-logo {
  padding: 41px 10px 10px 77px;
  width: 174px;
  height: 61px;
}

.user_side-nav-nav {
  margin: 59px 104px 0px 0px;
}

.user_side-nav-nav ul li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.user_side-nav-nav ul li:hover {
  background-color: #273D2B;
  border-radius: 22px;
}

.user_side-nav-button {
  color: white;
  text-decoration: none;
}